/*---------------------
        RESET
-----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------
        GENERAL
-----------------------*/

body {
    font-family: "PT Sans", sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}


/*---------------------
        UTILITIES
-----------------------*/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.gap-60 {
    gap: 60px;
}

.no-wrap {
    flex-wrap: nowrap;
}

.relative {
    position: relative;
}

.text-align-center {
    text-align: center;
}

.margin-bottom > * {
    margin-bottom: 20px;
}

/*---------------------
        LAYOUT
-----------------------*/

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-medium {
    max-width: 992px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding: 15px;
}

/*---------------------
        CARD 
-----------------------*/

.box-card {
    min-height: 100%;
    padding: 30px;
    border-radius: 20px;
}

.box-card > i {
    font-size: 80px;
    color: #0084fd;
    padding-bottom: 18px;
}

.col-grow .box-card {
    text-align: left;
}

.box-card-intro {
    background-color: #b5ddff;
}

.box-card-testimonials {
    background-color: #9792e4;
    padding: 20px 20px 50px;
    border-radius: 50px;
}

.box-card-benefit {
    background-color: #fff;
}

/*---------------------
        TYPOGRAPHY
-----------------------*/

p {
    line-height: 1.5;
}

.title-xs-regular-primary {
    font-size: 20px;
    color: #9792e4;
}

.title-xs-regular-secondary {
    font-size: 20px;
    color: #0084fd;
}

.title-xs-regular-third {
    font-size: 20px;
    color: #111;
}

.title-s-regular-primary {
    font-size: 24px;
    color: #9792e4;
}

.title-s-regular-fourth {
    font-size: 24px;
    color: #fff;
}

.title-m-regular-primary {
    font-size: 30px;
    color: #9792e4;
}

.title-m-regular-fourth {
    font-size: 30px;
    color: #fff;
}

.title-l-regular-primary {
    font-size: 38px;
    color: #9792e4;
}

.title-xl-regular-fifth {
    font-size: 44px;
    color: #fdc15f;
}

.number-xl-benefits {
    font-size: 60px;
    color: #9792e4;
    font-weight: 900;
}

.p-regular-primary {
    font-size: 18px;
    color: #111;
}

.p-italic-primary {
    font-size: 18px;
    color: #111;
    font-style: italic;
}

.p-regular-secondary {
    font-size: 18px;
    color: #fff;
}

.p-regular-uppercase-secondary {
    font-size: 18px;
    color: #111;
    text-transform: uppercase;
}

.p-semi-bold-third {
    color: #5a6e7f;
    font-weight: 600;
}

.p-regular-third {
    color: #5a6e7f;
}

figcaption {
    color: #fff;
    font-weight: 6500;
    text-transform: uppercase;
}

/*---------------------
        BUTTON
-----------------------*/

.btn {
    font-family: "PT Sans", sans-serif;
    background-color: #0084fd;
    padding: 8px 40px;
    border-radius: 30px;
    border: #0084fd;
    font-size: 14px;
}

.btn-letter-spacing {
    letter-spacing: 3px;
    font-weight: 600;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn-small {
    padding: 5px 10px;
}

.btn-big {
    padding: 16px 50px;
}

.btn-second, .btn-second a {
    background-color: #fff;
    color: #5a6e7f;
}

.btn-third, .btn-third a {
    background-color: #fff;
    color: #9792e4;
}

.btn-fourth {
    background-color: #9792e4;  
    color: #fff;  
}

/*---------------------
        HEADER
-----------------------*/

header {
    background-color: #0084fd;
    padding: 15px 0;
}

.logo {
    width: 50px;
}

header ul {
    align-items: center;
}

nav ul > *  {
    list-style: none;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    color: #fff;
}

.hamburger-icon {
    display: none;
}

/*---------------------
        INTRO
-----------------------*/

.intro {
    padding: 40px 0 90px 0;
}

.intro .col {
    width: calc(100% / 3);
}

.intro .col-grow {
    flex-grow: 1;
}

.col-grow  .box-card {
    padding-bottom: 0;
}

.side-box {
    width: calc(100% / 2);
}

.intro .side-box > *:not(:first-child) {
    margin: 10px 0;
}

.intro .margin-bottom > *:not(:first-child) {
    margin: 10px 0;
}

.side-box-right {
    justify-content: center;
}

.phone-img {
    width: 250px;
    display: block;
}

/*---------------------
        PLANNING 
-----------------------*/

.planning {
    background-color: #9792e4;
    padding: 90px 0 40px 0;
}

.planning .col {
    width: calc(100% / 2);
}
.container-medium .margin-bottom > * {
    margin-bottom: 20px;
}

.planning h3 {
    padding-bottom: 50px;
}

.graphic-planning {
    width: 400px;
}

.card-planning-left {
    flex-direction: column;
    padding-right: 50px;
    gap: 100px;
}

.card-planning-left img {
    max-width: 600px;
}

.card-planning {
    align-items: flex-end;
}

.card-planning-right {
    background-color: #fff;
    margin: 30px 60px 0 30px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}

.align-items-flex-end {
    align-items: flex-end;
}

.card-planning-right img {
    max-width: 250px;
    padding-bottom: 18px;
}

.card-planning-right i {
    background-color: #9792e4;
    padding: 14px 16px;
    border-radius: 100%;
}

/*---------------------
        TESTIMONIALS 
-----------------------*/

.testimonials {
    padding: 50px 0 70px 0;
}

.testimonial-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

/*---------------------
        TESTIMONIALS 
-----------------------*/

.benefits {
    background-color: #9792e4;
    padding: 50px 0;
}

.benefits .col {
    width: calc(100% / 3);
}


/*---------------------
    MEDIA QUERY TABLET
-----------------------*/

@media screen and (max-width: 992px) {
    .container,
    .container-medium {
        width: 100%;
    }

    nav,  header .btn {
        display: none;
    }

    .hamburger-icon {
        display: block;
        color: #fff;
    }

    /* INTRO */

    .side-box {
        width: 100%;
    }
 
    .side-box-right img {
        margin-top: 20px;
    }

    /* PLANNING */

    .planning .col {
        width: 100%;
    }

    .card-planning-left {
        padding-right: 0;
    }

    .card-planning {
        min-height: 100%;
        justify-content: center;
        background-color: #fff;
        border-radius: 30px;
    }

    .card-planning-right {
        margin: 0;
    }

    .card-planning-left img,
    .card-planning-right img {
        width: 100%;
    }
}

/*---------------------
    MEDIA QUERY MOBILE
-----------------------*/

@media screen and (max-width: 480px) {
    .intro .col {
        width: 100%;
    }

    .col {
        padding-bottom: 20px;
    }

    .box-card-testimonials {
        flex-direction: column;
        padding: 20px;
    }

    .feedback-container {
        text-align: center;
    }
}